@model IEnumerable<Besitzer>
@{
    ViewBag.Title = "BesitzerenLaden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Besitzeren</h2>

<table id="tblBesitzer" class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>AUSWEIS</th>
            <th>NAME</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var Besitzer in Model)
        {
            <tr>
                <td>@Besitzer.Ausweis</td>
                <td>@Besitzer.Name</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblBesitzer').DataTable({
                "paging": true,
                "pageLength": 5,
                "sort": (true, true, false)
            });
        });
    </script>
}

